.new-ticket-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    width: 80%;
}

.new-ticket-field > div:nth-child(2) {
    width: 80%;
}

.new-ticket-label {
    width: 20%;
    padding-right: 5px;
}

.new-ticket-form {
    width: 100%;
}
.new-ticket-table > div:nth-child(2) {
    border: 1px solid black;
}
.new-ticket-table-warning {
    color: red;
    font-style: italic;
    font-size: 11px;
}
.new-ticket-table-caption {
    /* border-top: 1px solid black; */
    background-color: rgb(179, 179, 179);
    overflow-y: hidden;
}
.new-ticket-table-caption::-webkit-scrollbar {
    background-color: rgb(179, 179, 179);
}
.new-ticket-table-content {
    height: 150px;
    overflow-y: scroll;
}
.new-ticket-table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    word-break: break-all;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
}
.new-ticket-table-row:nth-child(2n-1):not(.new-ticket-table-caption) {
    background-color: rgb(230, 230, 230);
}
.new-ticket-table-row > p {
    padding: 5px;
    margin: 0;
}
.new-ticket-table-row > p:nth-child(1) {
    width: 5%;
    min-width: 20px;
    text-align: center;
    border-right: 1px solid black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.new-ticket-table-row > p:nth-child(2) {
    width: 15%;
    border-right: 1px solid black;
}
.new-ticket-table-row > p:nth-child(3) {
    width: 25%;
    border-right: 1px solid black;
}
.new-ticket-table-row > p:nth-child(4) {
    width: 15%;
    border-right: 1px solid black;
}
.new-ticket-table-row > p:nth-child(5) {
    width: 20%;
    border-right: 1px solid black;
}
.new-ticket-table-row > p:nth-child(6) {
    width: 20%;
}
.new-ticket-table-row:not(.new-ticket-table-caption) > p:nth-child(5) {
    text-align: center;
}
.new-ticket-table-row:not(.new-ticket-table-caption) > p:nth-child(6) {
    text-align: center;
}

.new-ticket-selected-circuits {
    background-color: rgb(230, 230, 230);
    width: 100%;
    min-height: 80px;
    margin-top: 10px;
    padding: 5px 10px;
}

.new-ticket-table-popup {
    width: 300px;
    height: 90vh;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    right: 20px;
    top: 5vh;
    display: none;
    overflow-y: auto;
}

.new-ticket-table-popup p {
    padding: 5px 10px;
    margin: 0;
}

.popup-maintenance-plan {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid black;
}


.new-ticket-detail {
    display: block;
    width: 100%;
    height: 100px;
}

.new-ticket-detail-warning {
    font-style: italic;
    font-size: 11px;
}


.new-ticket-file .new-ticket-field {
    width: 100%;
}

.new-ticket-file-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.input-file { display: flex; }
.new-ticket-file-input > div:nth-child(1) {
    width: 90%;
}
.new-ticket-file-input-name {
    color: rgb(179, 179, 179);
    padding: 5px 10px;
    border: 1px solid rgb(179, 179, 179);
    width: 75%;
    margin-right: 10px;
}
.new-ticket-file-input-name + div {
    width: 25%;
}
.new-ticket-file-input > div:nth-child(2) {
    padding-left: 10px;
    width: 50px;
}

.new-ticket-file-input > div:nth-child(2) button {
    outline: none;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgb(179, 179, 179);
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    border: 3px solid rgb(95, 95, 95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.new-ticket-file .new-ticket-field input {
    display: block;
    width: 80%;
    padding: 5px 10px;
}

.inputfile { 
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    margin: 0;
    color: rgb(95, 95, 95);
    background-color: white;
    border: 3px solid rgb(95, 95, 95);
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: white;
    background-color: rgb(95, 95, 95);
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.new-ticket-files table {
    margin-top: 20px;
    width: 50%;
}

.new-ticket-files td {
    padding: 5px 10px;
}

.new-ticket-files td:first-child {
    padding-left: 0;
}
.new-ticket-files td:last-child {
    padding-right: 0;
}
.new-ticket-files td:last-child i {
    cursor: pointer;
}